* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(248deg, #00c7ff80, #8b81ff80, #be26ff80);
}

.form-div {
  background-color: #fff;
  width: 27%;
  padding: 60px 50px;
  border-radius: 30px;
  box-shadow: 1px 2px 6px 6px rgba(0, 0, 0, 0.2);
}

#login {
  width: 100%;
  border-radius: 0px;
}

#google-signin {
  background: #0000;
  border: 1px solid #dfdfdf;
  color: #333;
  border-radius: 0px;
  width: 100%;
  padding: 0px;
}

#google-signin img {
  width: 40px;
}

form {
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: right;
}

h1 {
  font-size: 60px;
}

input {
  height: 50px;
  /* border-bottom: 1px solid; */
  border-width: 0px 0px 1px 0px;
}

input:focus-visible {
  height: 50px;
  /* border-bottom: 1px solid; */
  border-width: 0px 0px 1px 0px;
}

.form-btn button {
  background: linear-gradient(248deg, #00c7ff, #8781ff, #be26ff);
  margin-top: 20px;
  border: 0px;
  width: 50%;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
}

/* .form-btn button:hover {
  transform: scale(1.1);
} */
