* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #dfdfdf;
}

.form-div {
  background-color: #fff;
  width: 30%;
  padding: 100px 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 60px;
}
